<!DOCTYPE html>
<html>
  <head>
    <title>Wiki Search Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style></style>
  </head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/instructions">Instructions</a>
</div>

<div class="content">
  <h1>
      <a href="/">Wiki Search Engine</a>
    </h1>
    <div class="search">
        <form action="/search" method="POST">
            <p>
                <input type="text" placeholder="Search Wikipedia" name="search_input" />
                <input type="submit" value="Search" />
            </p>
            {% block paragraph %}{% endblock %}

        </form>
    {% block buttons %}{% endblock %}
    {% block header2 %}{% endblock %}
    {% block image %}{% endblock %}
    {% block content %}{% endblock %}
</div>

<div class="footer" style="text-align: left;">
  <p>© 2021 Corinne Bradford</p>
</div>

</body>
</html>