{% extends "base.html" %}
{% block buttons %}
<div class="buttons">
    <p>
        <p>
            <form action="/featured" method="POST">
                <input type="submit" value="Featured Article" name="featured" />
            </form>
        </p>
        <p>
            <form action="/random" method="POST">
                <input type="submit" value="Random Article" name="random" />
            </form>
        </p>
    </p>
</div>

{% endblock %}
{% block paragraph %}
    <p>
        Type the topic you would like to search into the search bar to begin, choose a random article, or peruse the featured article of the day.
    </p>
{% endblock %}