{% extends "base.html" %}
{% block buttons %}
    <div class="buttons">
        <p>
            <p>
                <form action="/featured" method="POST">
                    <input type="submit" value="Featured Article" name="featured" />
                </form>
            </p>
            <p>
                <form action="/random" method="POST">
                    <input type="submit" value="Random Article" name="random" />
                </form>
            </p>
        </p>
    </div>
{% endblock %}
{% block header2 %}
    <h2>
        <a href="{{wiki}}">
            {{title}}
        </a>
    </h2>
{% endblock %}
{% block image %}
    {% if picture == -1 %}
        <p></p>
    {% else %}
        <img src="{{picture}}">
    {% endif %}
{% endblock %}
{% block content %}
    <p>
        {{content}}
    </p>
    <p>
        <a href="{{google}}">
            Click here to search Google
        </a>
    </p>
{% endblock %}
